
@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div style="background-image: url('../../images/my-icons/welcome-background.png');background-size: cover;width: 100% ;height: 490px;overflow: auto;"> </div>


