USE [master]
GO
/****** Object:  Database [QLDH]    Script Date: 4/12/2019 5:56:22 AM ******/
CREATE DATABASE [QLDH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLDH.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLDH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLDH_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDH]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MACHITIETDONHANG] [int] IDENTITY(1,1) NOT NULL,
	[MADONHANG] [int] NOT NULL,
	[MASANPHAM] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHITIETDONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTACT](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[TENSHOP] [nvarchar](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SODIENTHOAI] [varchar](11) NULL,
	[EMAIL] [varchar](50) NULL,
	[MASOTHUE] [varchar](15) NULL,
	[QUANLY] [nvarchar](50) NULL,
	[TAIKHOANNGANHANG] [nvarchar](60) NULL,
 CONSTRAINT [PK_CONTACT] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADONHANG] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [varchar](11) NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[KHUYENMAI] [float] NOT NULL,
	[PHIVANCHUYEN] [float] NOT NULL,
	[TONG] [float] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[GIOITINH] [bit] NOT NULL CONSTRAINT [DF__KHACHHANG__GIOIT__276EDEB3]  DEFAULT ((0)),
	[DIACHI] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [varchar](11) NOT NULL,
	[THOIDIEMDANGKY] [datetime] NULL CONSTRAINT [DF__KHACHHANG__THOID__286302EC]  DEFAULT (getdate()),
 CONSTRAINT [PK__KHACHHAN__30035C2FA7939785] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAUSAC]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAUSAC](
	[MAMAU] [int] IDENTITY(1,1) NOT NULL,
	[TENMAU] [nvarchar](20) NOT NULL,
	[MARGB] [varchar](10) NULL DEFAULT (NULL),
PRIMARY KEY CLUSTERED 
(
	[MAMAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANHASANXUAT] [int] IDENTITY(1,1) NOT NULL,
	[TENNHASANXUAT] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHASANXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUANTRIVIEN]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUANTRIVIEN](
	[MAQUANTRI] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[TENDANGNHAP] [varchar](20) NOT NULL,
	[MATKHAU] [varchar](50) NOT NULL,
	[ANHDAIDIEN] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUANTRI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[MADANHMUC] [int] NOT NULL,
	[MANHASANXUAT] [int] NOT NULL,
	[DONGIA] [float] NOT NULL CONSTRAINT [DF__SANPHAM__DONGIA__1B0907CE]  DEFAULT ((0)),
	[HINHANH] [varchar](50) NULL,
	[HINHANH1] [varchar](50) NULL,
	[HINHANH2] [varchar](50) NULL,
	[TINHTRANG] [bit] NOT NULL CONSTRAINT [DF__SANPHAM__TINHTRA__1CF15040]  DEFAULT ((0)),
	[NGAYCAPNHAT] [datetime] NULL CONSTRAINT [DF__SANPHAM__NGAYCAP__1DE57479]  DEFAULT (getdate()),
	[LUOTXEM] [int] NULL CONSTRAINT [DF__SANPHAM__LUOTXEM__1ED998B2]  DEFAULT ((0)),
	[MAMAU] [int] NOT NULL,
	[LOAIMAY] [nvarchar](20) NOT NULL,
	[MATDONGHO] [nvarchar](20) NOT NULL,
	[DAYDEO] [nvarchar](20) NULL,
	[KICHCO] [int] NOT NULL,
 CONSTRAINT [PK__SANPHAM__9534C892422008A1] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SLIDER]    Script Date: 4/12/2019 5:56:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SLIDER](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[HINHANH] [varchar](50) NULL,
	[TIEUDE1] [nvarchar](30) NULL,
	[TIEUDE2] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CONTACT] ON 

INSERT [dbo].[CONTACT] ([MA], [TENSHOP], [DIACHI], [SODIENTHOAI], [EMAIL], [MASOTHUE], [QUANLY], [TAIKHOANNGANHANG]) VALUES (1, N'ZiWatch', N'Phường Hiệp Phú, Quận 9, TP.HCM', N'0943144178', N'ziwatch@gmail.com', N'215487963', N'Nguyễn Văn A', N'2415896325 - Techcombank')
SET IDENTITY_INSERT [dbo].[CONTACT] OFF
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (1, N'Đồng hồ nam')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (2, N'Đồng hồ nữ')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (3, N'Đồng hồ cơ')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HOTEN], [EMAIL], [MATKHAU], [GIOITINH], [DIACHI], [SODIENTHOAI], [THOIDIEMDANGKY]) VALUES (1, N'Trần Văn Anh', N'anh@gmail.com', N'123', 1, N'14 XVNT, Bình Thạnh', N'0123456789', CAST(N'2019-04-11 00:47:50.450' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [HOTEN], [EMAIL], [MATKHAU], [GIOITINH], [DIACHI], [SODIENTHOAI], [THOIDIEMDANGKY]) VALUES (2, N'Hieu Nguyen', N'anonymous220011@gmail.com', N'1', 0, N'475 A Dien Bien Phu', N'943144178', CAST(N'2019-04-11 00:47:50.450' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[MAUSAC] ON 

INSERT [dbo].[MAUSAC] ([MAMAU], [TENMAU], [MARGB]) VALUES (1, N'black', N'#000000')
INSERT [dbo].[MAUSAC] ([MAMAU], [TENMAU], [MARGB]) VALUES (2, N'silver', N'#c0c0c0')
INSERT [dbo].[MAUSAC] ([MAMAU], [TENMAU], [MARGB]) VALUES (3, N'white', N'#ffffff')
SET IDENTITY_INSERT [dbo].[MAUSAC] OFF
SET IDENTITY_INSERT [dbo].[NHASANXUAT] ON 

INSERT [dbo].[NHASANXUAT] ([MANHASANXUAT], [TENNHASANXUAT], [GHICHU]) VALUES (1, N'CASIO', NULL)
INSERT [dbo].[NHASANXUAT] ([MANHASANXUAT], [TENNHASANXUAT], [GHICHU]) VALUES (2, N'BENJAZZ', NULL)
INSERT [dbo].[NHASANXUAT] ([MANHASANXUAT], [TENNHASANXUAT], [GHICHU]) VALUES (3, N'JPN', NULL)
SET IDENTITY_INSERT [dbo].[NHASANXUAT] OFF
SET IDENTITY_INSERT [dbo].[QUANTRIVIEN] ON 

INSERT [dbo].[QUANTRIVIEN] ([MAQUANTRI], [HOTEN], [TENDANGNHAP], [MATKHAU], [ANHDAIDIEN]) VALUES (2, N'Nguyễn Ngọc Hiếu', N'zi', N'1', N'QTV1.PNG')
INSERT [dbo].[QUANTRIVIEN] ([MAQUANTRI], [HOTEN], [TENDANGNHAP], [MATKHAU], [ANHDAIDIEN]) VALUES (3, N'Nguyễn Kiều Thái Hòa', N'hoa', N'1', N'QTV2.PNG')
INSERT [dbo].[QUANTRIVIEN] ([MAQUANTRI], [HOTEN], [TENDANGNHAP], [MATKHAU], [ANHDAIDIEN]) VALUES (4, N'Trần Thanh Hậu', N'hau', N'1', N'QTV3.png')
SET IDENTITY_INSERT [dbo].[QUANTRIVIEN] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MADANHMUC], [MANHASANXUAT], [DONGIA], [HINHANH], [HINHANH1], [HINHANH2], [TINHTRANG], [NGAYCAPNHAT], [LUOTXEM], [MAMAU], [LOAIMAY], [MATDONGHO], [DAYDEO], [KICHCO]) VALUES (1, N'CASIO 741', 1, 1, 750000, N'PRODUCT1-1.jpg', N'PRODUCT1-2.jpg', N'PRODUCT1-3.jpg', 1, CAST(N'2019-03-15 17:07:11.680' AS DateTime), 0, 1, N'Quartz', N'Tròn', N'Thép không gỉ', 32)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MADANHMUC], [MANHASANXUAT], [DONGIA], [HINHANH], [HINHANH1], [HINHANH2], [TINHTRANG], [NGAYCAPNHAT], [LUOTXEM], [MAMAU], [LOAIMAY], [MATDONGHO], [DAYDEO], [KICHCO]) VALUES (2, N'BENJAZZ 15', 2, 2, 1020000, N'PRODUCT2-1.jpg', N'PRODUCT2-2.jpg', N'PRODUCT2-3.jpg', 1, CAST(N'2019-03-15 17:07:11.693' AS DateTime), 0, 2, N'E-Quartz', N'Tròn', N'Da', 36)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MADANHMUC], [MANHASANXUAT], [DONGIA], [HINHANH], [HINHANH1], [HINHANH2], [TINHTRANG], [NGAYCAPNHAT], [LUOTXEM], [MAMAU], [LOAIMAY], [MATDONGHO], [DAYDEO], [KICHCO]) VALUES (3, N'JP 56Z', 3, 3, 599000, N'PRODUCT3-1.jpg', N'PRODUCT3-2.jpg', N'PRODUCT3-3.jpg', 0, CAST(N'2019-03-15 17:07:11.693' AS DateTime), 0, 3, N'Quartz', N'E-líp', N'Vải dù', 32)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[SLIDER] ON 

INSERT [dbo].[SLIDER] ([MA], [HINHANH], [TIEUDE1], [TIEUDE2]) VALUES (1, N'slider-01.jpg', N'Men Watch', N'LUXURIOUS & ELEGANT')
INSERT [dbo].[SLIDER] ([MA], [HINHANH], [TIEUDE1], [TIEUDE2]) VALUES (2, N'slider-02.jpg', N'Women Watch', N'YOUTHFULNESS & FASHIONS')
INSERT [dbo].[SLIDER] ([MA], [HINHANH], [TIEUDE1], [TIEUDE2]) VALUES (3, N'slider-03.jpg', N'Commitment', N'QUALITY & PRICE')
SET IDENTITY_INSERT [dbo].[SLIDER] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__KHACHHAN__161CF724B2614D0E]    Script Date: 4/12/2019 5:56:23 AM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UQ__KHACHHAN__161CF724B2614D0E] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__MAUSAC__57A0BA0100A01CB4]    Script Date: 4/12/2019 5:56:23 AM ******/
ALTER TABLE [dbo].[MAUSAC] ADD UNIQUE NONCLUSTERED 
(
	[MARGB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__QUANTRIV__6C836FE57B825866]    Script Date: 4/12/2019 5:56:23 AM ******/
ALTER TABLE [dbo].[QUANTRIVIEN] ADD UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDONHANG] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT (getdate()) FOR [THOIGIAN]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [KHUYENMAI]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [PHIVANCHUYEN]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TONG]
GO
ALTER TABLE [dbo].[DONHANG] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_DH] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_DH]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDH_SP] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CTDH_SP]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DH_KH] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DH_KH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_DM] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_DM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_MS] FOREIGN KEY([MAMAU])
REFERENCES [dbo].[MAUSAC] ([MAMAU])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_MS]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_NSX] FOREIGN KEY([MANHASANXUAT])
REFERENCES [dbo].[NHASANXUAT] ([MANHASANXUAT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_NSX]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([SOLUONG]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD CHECK  (([THANHTIEN]>=(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([KHUYENMAI]>=(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([PHIVANCHUYEN]>=(0)))
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD CHECK  (([TONG]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__DONGIA__1BFD2C07] CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__DONGIA__1BFD2C07]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__KICHCO__20C1E124] CHECK  (([KICHCO]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__KICHCO__20C1E124]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__LUOTXEM__1FCDBCEB] CHECK  (([LUOTXEM]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__LUOTXEM__1FCDBCEB]
GO
USE [master]
GO
