
<div class="right-top-bar flex-w h-full">
    @if (Session["Taikhoan"] == null)
    {
        <a href="@Url.Action("Login","User")" class="flex-c-m trans-04 p-lr-25">
            Đăng nhập
        </a>

        <a href="@Url.Action("Register","User")" class="flex-c-m trans-04 p-lr-25">
            Đăng ký
        </a>
    }
    else
    {
        <a href="#" class="flex-c-m trans-04 p-lr-25">
            Xin chào bạn!
        </a>

        <a href="@Url.Action("Logout","User")" class="flex-c-m trans-04 p-lr-25">
            Đăng xuất
        </a>
    }
</div>
